@import '../../../scss/variables.scss';
@import '../../../scss/mixins.scss';

.form-buttons {
  width: 84%;
  button:first-child {
    @include buttons;
    @include fw-500;
    color: $color-1d93d1;
    border: 1px inset $color-1d93d1;
    background-color: $color-fff;
    margin-right: 30px;
  }

  button:last-child {
    @include buttons;
    @include fw-500;
    color: $color-fff;
    border: 1px inset $color-fff;
    background-color: $color-1d93d1;
  }
}
