$color-fff: #fff;
$color-333: #333;
$color-eee: #eee;
$color-ccc: #ccc;
$color-0259a3: #0259a3;
$color-165285: #165285;
$color-d3dfea: #d3dfea;
$color-1d93d1: #1d93d1;
$color-9bb1ca: #9bb1ca;
$color-e5edfb: #e5edfb;
$color-fafcff: #fafcff;
